h1 {
    text-align: center;
}
article {
    margin-left: auto;
    margin-right: auto;
    width: 50em;
    padding: 1em;
    background-color: #FFDA99;
}
footer {
    padding: 1em;
}
address {
    text-align: center;
}
body {
  background-color: #FFF59D;
}

.float-right {
    float: right;
    margin-left: 1em;
}

.float-left {
    float: left;
    margin-right: 1em;
}

nav {
    padding: 1em;
}

.topnav {
    position: relative;
    overflow: hidden;
}

.topnav a {
    display: block;
    color: white;
    width: 60px;
    text-align: center;
    background-color: #000000;
}

.nav-left {
    float: left;
}

.nav-right {
    float: right;
}

.nav-home {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

@media screen and (max-width: 600px) {
  .nav-right {
    float: none;
    display: block;
  }

  .nav-home {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
}
